<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <header id="header">
      <div id="menu" class="header-menu fixed">
        <div class="container box">
          <div class="row">
            <nav role="navigation" class="col-sm-12">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>

                <!--== Logo ==-->
                <span class="navbar-brand logo">
                  <img src="/assets/images/logodal.png">
                </span>

              </div>
              <div class="navbar-collapse collapse">

                <!--== Navigation Menu ==-->
                <ul class="nav navbar-nav">
                  <li class="current"><a href="#header">Home</a></li>
                  <li><a href="#schedule">Fechas</a></li>
                  <li><a href="#faq">Sobre DAL</a></li>
                  <li><a href="#speakers">Mentores</a></li>
                  <li><a href="#partners">Organizadores</a></li>
                  <li><a href="#register">Registro</a></li>
                </ul>

              </div>
            </nav>
          </div>
        </div>
      </div>

      <!--== Site Description ==-->
      <div class="header-cta">
        <div class="container">
          <div class="row">
            <div class="blk">
              <h1>DAL Valparaíso<br/>2015</h1>
            </div>
          </div>
          <div class="row">
            <div class="blk">
              <input type="submit" value="Registro" name="submit" id="goregister">
            </div>
          </div>
        </div>
      </div>

      <div class="header-bg">
        <div id="preloader">
          <div class="preloader"></div>
        </div>
        <div class="main-slider" id="main-slider">

          <!--== Main Slider ==-->
          <ul class="slides">
            <li><img src="/assets/images/demo/bg-slide-01.jpg" alt="Slide Image"/></li>
            <li><img src="/assets/images/demo/bg-slide-02.jpg" alt="Slide Image 2"/></li>
            <li><img src="/assets/images/demo/bg-slide-03.jpg" alt="Slide Image 3"/></li>
          </ul>

        </div>
      </div>
    </header>

    <div class="content">
      <div class="container box">


        <!--===============================-->
        <!--== Features ===================-->
        <!--===============================-->
        <section id="features" class="row">
          <div class="col-md-3 col-xs-6">
            <div class="event-info">
              <div class="icon fa fa-map-marker"></div>
              <div class="info">
                <h3>Valparaíso</h3>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="event-info">
              <div class="icon fa fa-calendar"></div>
              <div class="info">
                <h3>3, 17 y 24 de Octubre</h3>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="event-info">
              <div class="icon fa fa-microphone"></div>
              <div class="info">
                <h3>9 Speakers</h3>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="event-info">
              <div class="icon fa fa-users"></div>
              <div class="info">
                <h3>100 cupos</h3>
              </div>
            </div>
          </div>
        </section>
        <!--==========-->



        <!--===============================-->
        <!--== Schedule ===================-->
        <!--===============================-->
        <section id="schedule" class="row">
          <div class="col-md-7 col-sm-12">
            <div class="content-tabs">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Lanzamiento</a></li>
                <li><a href="#tab2" data-toggle="tab">Hackathon</a></li>
                <li><a href="#tab3" data-toggle="tab">Demo Day</a></li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                  <ul class="accordion-group">
                      <li class="accordion">
                          <h3>3 de Octubre</h3>
                          <a class="accordion-heading">
                            <time>10:30</time>
                            <h4 class="accordion-title">Fugit, officia laudantium repellat</h4>
                            <span class="fa fa-plus-circle pull-right"></span>
                          </a>
                          <div class="accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
                          </div>
                      </li>
                      <li class="accordion">
                          <a class="accordion-heading">
                            <time>12:30</time>
                            <h4 class="accordion-title">Fugit, officia laudantium repellat</h4>
                            <span class="fa fa-plus-circle pull-right"></span>
                          </a>
                          <div class="accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
                          </div>
                      </li>
                      <li class="accordion">
                          <a class="accordion-heading">
                            <time>14:00</time>
                            <h4 class="accordion-title">Fugit, officia laudantium repellat</h4>
                            <span class="fa fa-plus-circle pull-right"></span>
                          </a>
                          <div class="accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
                          </div>
                      </li>
                  </ul>
                </div>
                <div class="tab-pane" id="tab2">
                  <ul class="accordion-group">
                      <li class="accordion">
                          <h3>17 de Octubre</h3>
                          <a class="accordion-heading">
                            <time>11:30</time>
                            <h4 class="accordion-title">Fugit, officia laudantium repellat</h4>
                            <span class="fa fa-plus-circle pull-right"></span>
                          </a>
                          <div class="accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
                          </div>
                      </li>
                      <li class="accordion">
                          <a class="accordion-heading">
                            <time>11:30</time>
                            <h4 class="accordion-title">Fugit, officia laudantium repellat</h4>
                            <span class="fa fa-plus-circle pull-right"></span>
                          </a>
                          <div class="accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
                          </div>
                      </li>
                      <li class="accordion">
                          <a class="accordion-heading">
                            <time>11:30</time>
                            <h4 class="accordion-title">Fugit, officia laudantium repellat</h4>
                            <span class="fa fa-plus-circle pull-right"></span>
                          </a>
                          <div class="accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
                          </div>
                      </li>
                  </ul>
                </div>
                <div class="tab-pane" id="tab3">
                  <ul class="accordion-group">
                      <li class="accordion">
                          <h3>24 de Octubre</h3>
                          <a class="accordion-heading">
                            <time>11:30</time>
                            <h4 class="accordion-title">Fugit, officia laudantium repellat</h4>
                            <span class="fa fa-plus-circle pull-right"></span>
                          </a>
                          <div class="accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
                          </div>
                      </li>
                      <li class="accordion">
                          <a class="accordion-heading">
                            <time>11:30</time>
                            <h4 class="accordion-title">Fugit, officia laudantium repellat</h4>
                            <span class="fa fa-plus-circle pull-right"></span>
                          </a>
                          <div class="accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
                          </div>
                      </li>
                      <li class="accordion">
                          <a class="accordion-heading">
                            <time>11:30</time>
                            <h4 class="accordion-title">Fugit, officia laudantium repellat</h4>
                            <span class="fa fa-plus-circle pull-right"></span>
                          </a>
                          <div class="accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
                          </div>
                      </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-sm-12">
            <h2>Apps Challenge</h2>
            <p>Comienza la 5ª versión de DAL Chile, felices de que esta gran comunidad de hackers cívicos siga creciendo en el país.  Por segundo año consecutivo nos reunimos en la ciudad de Valparaíso para desarrollar soluciones tecnológicas en temas sociales, fomentando el trabajo colaborativo, la innovación y el emprendimiento!</p>
          </div>
        </section>
        <!--==========-->


        <!--===============================-->
        <!--== FAQ ========================-->
        <!--===============================-->
        <section id="faq" class="row">
          <div class="col-sm-12">
            <div class="section-header text-right">
              <h2>Sobre DAL</h2>
              <h4>Algunas preguntas y respuestas del Apps Challenge</h4>
            </div>
          </div>
          <div class="col-sm-6">
            <ul class="accordion-group">
                <li class="accordion">
                    <a class="accordion-heading">
                      <h4 class="accordion-title">Lorem ipsum dolor sit amet ?</h4>
                      <span class="fa fa-plus-circle pull-right"></span>
                    </a>
                    <div class="accordion-body">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
                    </div>
                </li>
                <li class="accordion">
                    <a class="accordion-heading">
                      <h4 class="accordion-title">Lorem ipsum dolor sit amet ?</h4>
                      <span class="fa fa-plus-circle pull-right"></span>
                    </a>
                    <div class="accordion-body">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
                    </div>
                </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="accordion-group">
                <li class="accordion">
                    <a class="accordion-heading">
                      <h4 class="accordion-title">Lorem ipsum dolor sit amet ?</h4>
                      <span class="fa fa-plus-circle pull-right"></span>
                    </a>
                    <div class="accordion-body">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
                    </div>
                </li>
                <li class="accordion">
                    <a class="accordion-heading">
                      <h4 class="accordion-title">Lorem ipsum dolor sit amet ?</h4>
                      <span class="fa fa-plus-circle pull-right"></span>
                    </a>
                    <div class="accordion-body">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ratione nostrum atque nobis debitis doloremque. Fugit, officia laudantium repellat assumenda eligendi vel sed dolore delectus. Vitae sequi cum doloribus veniam.
                    </div>
                </li>
            </ul>
          </div>
        </section>
        <!--==========-->



        <!--===============================-->
        <!--== Speakers ===================-->
        <!--===============================-->
        <section id="speakers" class="row separated">
          <div class="col-sm-12">
            <div class="section-header text-center">
              <h2>Mentores</h2>
              <h4>Estos serán los mentores que estarán presentando los desafíos de desarrollo</h4>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="speaker">
              <div class="speaker-info">
                <div class="speaker-photo">
                  <img src="/assets/images/demo/speakers/speaker-01.jpg" alt="Speaker 1">
                </div>
                <div class="speaker-contacts">
                  <a href="#" class="contact pull-left fa fa-facebook"></a>
                  <a href="#" class="contact pull-right fa fa-twitter"></a>
                </div>
              </div>
              <h3>Jane Doe</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="speaker">
              <div class="speaker-info">
                <div class="speaker-photo">
                  <img src="/assets/images/demo/speakers/speaker-02.jpg" alt="Speaker 2">
                </div>
                <div class="speaker-contacts">
                  <a href="#" class="contact pull-left fa fa-facebook"></a>
                  <a href="#" class="contact pull-right fa fa-twitter"></a>
                </div>
              </div>
              <h3>Michele Doe</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="speaker">
              <div class="speaker-info">
                <div class="speaker-photo">
                  <img src="/assets/images/demo/speakers/speaker-03.jpg" alt="Speaker 3">
                </div>
                <div class="speaker-contacts">
                  <a href="#" class="contact pull-left fa fa-facebook"></a>
                  <a href="#" class="contact pull-right fa fa-twitter"></a>
                </div>
              </div>
              <h3>John Doe</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="speaker">
              <div class="speaker-info">
                <div class="speaker-photo">
                  <img src="/assets/images/demo/speakers/speaker-04.jpg" alt="Speaker 4">
                </div>
                <div class="speaker-contacts">
                  <a href="#" class="contact pull-left fa fa-facebook"></a>
                  <a href="#" class="contact pull-right fa fa-twitter"></a>
                </div>
              </div>
              <h3>Nick Doe</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="speaker">
              <div class="speaker-info">
                <div class="speaker-photo">
                  <img src="/assets/images/demo/speakers/speaker-05.jpg" alt="Speaker 5">
                </div>
                <div class="speaker-contacts">
                  <a href="#" class="contact pull-left fa fa-facebook"></a>
                  <a href="#" class="contact pull-right fa fa-twitter"></a>
                </div>
              </div>
              <h3>Valerie Doe</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,  sed do eiusmod tempor</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="speaker">
              <div class="speaker-info">
                <div class="speaker-photo">
                  <img src="/assets/images/demo/speakers/speaker-06.jpg" alt="Speaker 6">
                </div>
                <div class="speaker-contacts">
                  <a href="#" class="contact pull-left fa fa-facebook"></a>
                  <a href="#" class="contact pull-right fa fa-twitter"></a>
                </div>
              </div>
              <h3>Mike Doe</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </section>
        <!--==========-->




        <!--===============================-->
        <!--== Carousel ===================-->
        <!--===============================-->
        <section id="partners">
          <div class="row">
            <div class="col-sm-12">
              <div class="section-header text-center">
                <h2>Organiza</h2>
              </div>
            </div>
            <div class="col-sm-12">
              <ul class="list-unstyled list-inline">
                <li><img src="/assets/images/demo/logos/pucv.png" alt="Universidad Catolica de Valparaíso"></li>
                <li><img src="/assets/images/demo/logos/utfsm.png" alt="Universidad Técnica Federico Santa María"></li>
                <li><img src="/assets/images/demo/logos/playaancha.png" alt="Universidad de Playa Ancha"></li>
                <li><img src="/assets/images/demo/logos/uv.png" alt="Universidad de Valparaíso"></li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="section-header text-center">
                <h2>Patrocina</h2>
              </div>
            </div>
            <div class="col-sm-12">
              <ul class="list-unstyled list-inline">
                <li><img src="/assets/images/demo/logos/fci.png" alt="Fundación Ciudadano Inteligente"></li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="section-header text-center">
                <h2>Colabora</h2>
              </div>
            </div>
            <div class="col-sm-12">
              <ul class="list-unstyled list-inline">
                <li><img src="/assets/images/demo/logos/chyrsalis.png" alt="Chyrsalis"></li>
              </ul>
            </div>
          </div>
        </section>
        <!--==========-->



        <!--===============================-->
        <!--== Register ===================-->
        <!--===============================-->
        <section id="register" class="row">
          <div class="col-sm-12">
            <div class="section-header text-center">
              <h2>Registro</h2>
              <h4>Awesome section description goes here.</h4>
            </div>
          </div>
          <div class="col-sm-12 text-center">
            <iframe src="https://docs.google.com/a/votainteligente.cl/forms/d/16b0Mbz6dzQ4o_DrhrmR7KXm1IOEVrJDZzomo2sLwbtM/viewform" width="800" height="1000" frameborder="0"></iframe>
            <!-- <form id="register-form" method="post" class="form">
              <div class="col-md-2 col-sm-6">
                <input name="name" id="name" type="text" placeholder="Name" required>
              </div>
              <div class="col-md-3 col-sm-6">
                <input name="email" id="email" type="email" placeholder="Email" required>
              </div>
              <div class="col-md-2 col-sm-6">
                <input name="telephone" id="telephone" type="tel" placeholder="Telephone">
              </div>
              <div class="col-md-2 col-sm-6">
                <select name="ticket" id="ticket">
                  <option value="Silver">Silver</option>
                  <option value="Gold">Gold</option>
                  <option value="Platinum">Platinum</option>
                </select>
              </div>
              <div class="col-md-3 col-sm-12">
                <input type="submit" value="Register" name="submit">
              </div>
              <p class="form-notification" style="display: none;">Registration Complete</p>
            </form> -->
          </div>
        </section>
        <!--==========-->


        <!--===============================-->
        <!--== Video ======================-->
        <!--===============================-->
        <section id="video" class="row">
          <div class="col-sm-12">
            <div class="section-header text-left">
              <h2>Video</h2>
            </div>
          </div>
          <div class="col-md-7 col-sm-12">
            <div class="video">
              <iframe width="560" height="315" src="https://www.youtube.com/watch?v=2RLJRSL9Zbw" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-md-5 col-sm-12">
            <h3>Lorem ipsum</h3>
            <hr/>
            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, quos, ratione, optio, blanditiis deserunt saepe iure sunt odit atque eius voluptatum labore excepturi explicabo aliquid sapiente porro voluptas commodi sint?</h4>
            <hr/>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, quas, quibusdam, impedit ducimus nisi fugiat veritatis cupiditate commodi</p>
          </div>
        </section>
        <!--==========-->

        <div id="gotop" class="gotop fa fa-arrow-up"></div>
      </div>
    </div>

    {% include footer.html %}

    <!--== Javascript Files ==-->
    <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="/assets/js/jquery-2.1.0.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.scrollTo.js"></script>
    <script src="/assets/js/jquery.nav.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/jquery.flexslider.js"></script>
    <script src="/assets/js/jquery.accordion.js"></script>
    <script src="/assets/js/jquery.placeholder.js"></script>
    <script src="/assets/js/jquery.fitvids.js"></script>
    <script src="/assets/js/gmap3.js"></script>
    <script src="/assets/js/fancySelect.js"></script>
    <script src="/assets/js/main.js"></script>

  </body>

</html>
