<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <header id="header">
      <div id="menu" class="header-menu fixed">
        <div class="container box">
          <div class="row">
            <nav role="navigation" class="col-sm-12">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>

                <!--== Logo ==-->
                <span class="navbar-brand logo">
                  <img src="/assets/images/logodal.png">
                </span>

              </div>
              <div class="navbar-collapse collapse">

                <!--== Navigation Menu ==-->
                <ul class="nav navbar-nav">
                  <li class="current"><a href="#header">Home</a></li>
                  <li><a href="#schedule">Fechas</a></li>
                  <li><a href="https://hackdash.org/dashboards/dalvalpo15" target="_blank">HackDash</a></li>
                  <li><a href="#faq">Sobre DAL</a></li>
                  <li><a href="#partners">Organizadores</a></li>
                </ul>

              </div>
            </nav>
          </div>
        </div>
      </div>

      <!--== Site Description ==-->
      <div class="header-cta">
        <div class="container">
          <div class="row">
            <div class="blk">
              <h1>DAL Valparaíso<br/>2015</h1>
            </div>
          </div>
          <div class="row">
            <div class="blk">
              <input type="submit" value="Registro" name="submit" id="goregister">
            </div>
          </div>
        </div>
      </div>

      <div class="header-bg">
        <div id="preloader">
          <div class="preloader"></div>
        </div>
        <div class="main-slider" id="main-slider">

          <!--== Main Slider ==-->
          <ul class="slides">
            <li><img src="/assets/images/demo/bg-slide-01.jpg" alt="Slide Image"/></li>
            <li><img src="/assets/images/demo/bg-slide-02.jpg" alt="Slide Image 2"/></li>
            <li><img src="/assets/images/demo/bg-slide-03.jpg" alt="Slide Image 3"/></li>
          </ul>

        </div>
      </div>
    </header>

    <div class="content">
      <div class="container box">


        <!--===============================-->
        <!--== Features ===================-->
        <!--===============================-->
        <section id="features" class="row">
          <div class="col-md-3 col-xs-6">
            <div class="event-info">
              <div class="icon fa fa-map-marker"></div>
              <div class="info">
                <h3>Valparaíso</h3>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="event-info">
              <div class="icon fa fa-calendar"></div>
              <div class="info">
                <h3>3, 17 y 24 de Octubre</h3>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="event-info">
              <div class="icon fa fa-microphone"></div>
              <div class="info">
                <h3>9 Speakers</h3>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-xs-6">
            <div class="event-info">
              <div class="icon fa fa-users"></div>
              <div class="info">
                <h3>100 cupos</h3>
              </div>
            </div>
          </div>
        </section>
        <!--==========-->



        <!--===============================-->
        <!--== Schedule ===================-->
        <!--===============================-->
        <section id="schedule" class="row">
          <div class="col-md-12 col-sm-12 text-center">
            <h2>Apps Challenge</h2>
            <p>Comienza la 5ª versión de DAL Chile, felices de que esta gran comunidad de hackers cívicos siga creciendo en el país.  Por segundo año consecutivo nos reunimos en la ciudad de Valparaíso para desarrollar soluciones tecnológicas en temas sociales, fomentando el trabajo colaborativo, la innovación y el emprendimiento!</p>
          </div>
          <div class="col-md-12 col-sm-12">
            <div class="content-tabs">
              <ul class="nav nav-tabs">
                <li><a href="#tab1" data-toggle="tab">Lanzamiento</a></li>
<!--                 <li><a href="#tab2" data-toggle="tab">Talleres</a></li> -->
                <li><a href="#tab3" data-toggle="tab">Hackathon</a></li>
                <li class="active"><a href="#tab4" data-toggle="tab">Demo Day</a></li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane" id="tab1">
                  <ul class="accordion-group">
                      <li class="accordion">
                          <h3>3 de Octubre - Universidad de Playa Ancha</h3>
                          <a class="accordion-heading">
                            <time>10:00</time>
                            <h4 class="accordion-title">Validación de inscripción</h4>
                            <!-- <span class="fa fa-plus-circle pull-right"></span> -->
                          </a>
                      </li>
                      <li class="accordion">
                          <a class="accordion-heading">
                            <time>10:20</time>
                            <h4 class="accordion-title">Bienvenida autoridad UPLA</h4>
                            <!-- <span class="fa fa-plus-circle pull-right"></span> -->
                          </a>
                      </li>
                      <li class="accordion">
                          <a class="accordion-heading">
                            <time>10:35</time>
                            <h4 class="accordion-title">Presentación Ciudadano Inteligente DAL-Valpo 2015</h4>
                            <!-- <span class="fa fa-plus-circle pull-right"></span> -->
                          </a>
                      </li>
                      <li class="accordion">
                          <a class="accordion-heading">
                            <time>11:00</time>
                            <h4 class="accordion-title">Exposiciones Medio Ambiente</h4>
                            <!-- <span class="fa fa-plus-circle pull-right"></span> -->
                          </a>
                      </li>
                      <li class="accordion">
                          <a class="accordion-heading">
                            <time>11:50</time>
                            <h4 class="accordion-title">Exposiciones Planificación Urbana</h4>
                            <!-- <span class="fa fa-plus-circle pull-right"></span> -->
                          </a>
                      </li>
                      <li class="accordion">
                          <a class="accordion-heading">
                            <time>12:40</time>
                            <h4 class="accordion-title">Exposiciones Desarrollo Social</h4>
                            <!-- <span class="fa fa-plus-circle pull-right"></span> -->
                          </a>
                      </li>
                      <li class="accordion">
                          <a class="accordion-heading">
                            <time>13:40</time>
                            <h4 class="accordion-title">Conformación de equipos y cierre</h4>
                            <!-- <span class="fa fa-plus-circle pull-right"></span> -->
                          </a>
                      </li>
                  </ul>
                </div>
                <!-- <div class="tab-pane active" id="tab2">
                  <ul class="accordion-group">
                      <li class="accordion">
                          <h3>Talleres de Mentoría</h3>
                          <p>La inscripción a los talleres se debe hacer al correo chile@desarrollandoamerica.org indicando nombre y taller al que se quiere participar</p>
                          <a class="accordion-heading">
                            <time>13/10/2015</time>
                            <div class="accordion-title">
                              <h4>
                                  <strong>Innovación Social</strong>
                                  <p>- Expositor: Sylvio Campos</p>
                                  <p>- Hora: 16:00 a 18:00</p>
                                  <p>- Centro de Extensión U. de Valparaíso, Errázuriz 1108</p>
                                  <p>- Descripción: Taller que tiene por objeto reflexionar acerca del vertiginoso mundo de la innovación y el emprendimiento como factores claves de la competitividad de las empresas y de las organizaciones sociales. Pone de relieve que en todo individuo yace el germen de la innovación y el  emprendimiento  que es necesario descubrir, reconocer y compartir con todo su potencial.</p>
                              </h4>
                          </div>
                          </a>
                      </li>
                      <li class="accordion">
                          <a class="accordion-heading">
                            <time>14/10/2015</time>
                            <div class="accordion-title">
                              <h4>
                                <strong>Modelado de Negocios</strong>
                                <p>- Expositor: Javier Gotschlich</p>
                                <p>- Hora: 11:00 a 13:00</p>
                                <p>- Sala FIN 4-4, Facultad de Ingeniería 4° Piso, Av. Brasil #2147</p>
                                <p>- Descripción: Taller que se enfoca en presentar la metodología Running Lean, que presenta un framework de cómo emprender con un negocio dinámico, en la definición del modelo de negocios del emprendimiento y de las hipótesis más riesgosas asociadas a éste último. Por último, presenta un enfoque de cómo deben ser validadas las hipótesis.</p>
                              </h4>
                          </div>
                          </a>
                      </li>
                      <li class="accordion">
                          <a class="accordion-heading">
                            <time>16/10/2015</time>
                            <div class="accordion-title">
                              <h4>
                                <strong>Desarrollo de Clientes y Lean Startup</strong>
                                <p>- Expositor: Sebastián Arriagada</p>
                                <p>- Hora: 14:30 a 16:30</p>
                                <p>- Sala FIN 4-4, Facultad de Ingeniería 4° Piso, Av. Brasil #2147</p>
                                <p>- Descripción: Taller que se enfoca en presentar la metodología de desarrollo de clientes de Steve Blank y la metodologías de Lean Startup de Eric Ries. Ambas metodologías buscan poner en evidencia la importancia del feedback del cliente final previa (o paralelo) a la construcción del producto final.</p>
                              </h4>
                          </div>
                          </a>
                      </li>
                      <li class="accordion">
                          <a class="accordion-heading">
                            <time>20/10/2015</time>
                            <div class="accordion-title">
                              <h4>
                                <strong>Finanzas para startups</strong>
                                <p>- Expositor: Tomás Gentina</p>
                                <p>- Hora: 10:00 a 12:00</p>
                                <p>- Sala FIN 4-4, Facultad de Ingeniería 4° Piso, Av. Brasil #2147</p>
                                <p>- Descripción: Taller que se enfoca en el desarrollo de la planificación financiera básica que una startup debe realizar, considerando pricing de la propuesta de valor, demanda y crecimiento de la startup; el análisis del costo de adquisición de un cliente versus LTV; y la estimación de requerimientos de capital de trabajo y la valoración del startup.</p>
                              </h4>
                          </div>
                          </a>
                      </li>
                      <li class="accordion">
                          <a class="accordion-heading">
                            <time>22/10/2015</time>
                            <div class="accordion-title">
                              <h4>
                                <strong>LeanPitch - Presentación ante Inversionistas</strong>
                                <p>- Expositor: Ignacio Cuevas</p>
                                <p>- Hora: 15:00 a 17:00</p>
                                <p>- Sala FIN 4-4, Facultad de Ingeniería 4° Piso, Av. Brasil #2147</p>
                                <p>- Descripción: Taller que se enfoca en una primera parte en presentar el lean pitch como una estructura de presentación de emprendimientos dinámicos, y en una segunda parte en entregar de primera fuente lo elementos que buscan  los fondos de inversión en los emprendedores.</p>
                              </h4>
                          </div>
                          </a>
                      </li>
                  </ul>
                </div> -->
                <div class="tab-pane" id="tab3">
                  <ul class="accordion-group">
                      <li class="accordion">
                          <h3>17 de Octubre - Universidad Federico Santa María, Cafetería 5to piso edificio P</h3>
                          <a class="accordion-heading">
                            <time>10:00</time>
                            <h4 class="accordion-title">Acreditación</h4>
                            <!-- <span class="fa fa-plus-circle pull-right"></span> -->
                          </a>
                      </li>
                      <li class="accordion">
                          <a class="accordion-heading">
                            <time>10.30</time>
                            <h4 class="accordion-title">Taller Inicial</h4>
                            <!-- <span class="fa fa-plus-circle pull-right"></span> -->
                          </a>
                      </li>
                      <li class="accordion">
                          <a class="accordion-heading">
                            <time>11.30</time>
                            <h4 class="accordion-title">#Hackingtime</h4>
                            <!-- <span class="fa fa-plus-circle pull-right"></span> -->
                          </a>
                      </li>
                      <li class="accordion">
                          <a class="accordion-heading">
                            <time>13.30</time>
                            <h4 class="accordion-title">Almuerzo</h4>
                            <!-- <span class="fa fa-plus-circle pull-right"></span> -->
                          </a>
                      </li>
                      <li class="accordion">
                          <a class="accordion-heading">
                            <time>14.30</time>
                            <h4 class="accordion-title">Actividades DAL</h4>
                            <!-- <span class="fa fa-plus-circle pull-right"></span> -->
                          </a>
                      </li>
                      <li class="accordion">
                          <a class="accordion-heading">
                            <time>15.00</time>
                            <h4 class="accordion-title">#Hackingtime</h4>
                            <!-- <span class="fa fa-plus-circle pull-right"></span> -->
                          </a>
                      </li>
                      <li class="accordion">
                          <a class="accordion-heading">
                            <time>18.00</time>
                            <h4 class="accordion-title">Resolviendo Problemas</h4>
                            <!-- <span class="fa fa-plus-circle pull-right"></span> -->
                          </a>
                      </li>
                      <li class="accordion">
                          <a class="accordion-heading">
                            <time>19.00</time>
                            <h4 class="accordion-title">Cierre</h4>
                            <!-- <span class="fa fa-plus-circle pull-right"></span> -->
                          </a>
                      </li>
                  </ul>
                </div>
                <div class="tab-pane active" id="tab4">
                  <ul class="accordion-group">
                      <li class="accordion">
                          <h3>24 de Octubre - Facultad de Ingeniería PUCV, Aula Mayor Edificio IBC, Av. Brasil #2241, Valparaíso</h3>
                         <a class="accordion-heading">
                            <time>10:00</time>
                            <h4 class="accordion-title">Bienvenida</h4>
                            <!-- <span class="fa fa-plus-circle pull-right"></span> -->
                          </a>
                      </li>
                      <li class="accordion">
                          <a class="accordion-heading">
                            <time>10.15</time>
                            <h4 class="accordion-title">Presentaciones</h4>
                            <!-- <span class="fa fa-plus-circle pull-right"></span> -->
                          </a>
                      </li>
                      <li class="accordion">
                          <a class="accordion-heading">
                            <time>11.45</time>
                            <h4 class="accordion-title">Deliberación del Jurado</h4>
                            <!-- <span class="fa fa-plus-circle pull-right"></span> -->
                          </a>
                      </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--==========-->

        <!--===============================-->
        <!--== Register ===================-->
        <!--===============================-->
        <!-- <section id="register" class="row">
          <div class="col-sm-12">
            <div class="section-header text-center">
              <h2>HackDash</h2>
              <h4></h4>
            </div>
          </div>
          <div class="col-sm-12 text-center">
            <iframe src="//hackdash.org/embed/dashboards/dalvalpo15" width="100%" height="500" frameborder="0"></iframe>
            <form id="register-form" method="post" class="form">
              <div class="col-md-2 col-sm-6">
                <input name="name" id="name" type="text" placeholder="Name" required>
              </div>
              <div class="col-md-3 col-sm-6">
                <input name="email" id="email" type="email" placeholder="Email" required>
              </div>
              <div class="col-md-2 col-sm-6">
                <input name="telephone" id="telephone" type="tel" placeholder="Telephone">
              </div>
              <div class="col-md-2 col-sm-6">
                <select name="ticket" id="ticket">
                  <option value="Silver">Silver</option>
                  <option value="Gold">Gold</option>
                  <option value="Platinum">Platinum</option>
                </select>
              </div>
              <div class="col-md-3 col-sm-12">
                <input type="submit" value="Register" name="submit">
              </div>
              <p class="form-notification" style="display: none;">Registration Complete</p>
            </form>
          </div>
        </section> -->
        <!--==========-->

         <!--===============================-->
        <!--== Video ======================-->
        <!--===============================-->
        <section id="video" class="row">
          <div class="col-sm-12">
            <div class="section-header text-left">
              <h2>Video</h2>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="video">
              <iframe src="https://player.vimeo.com/video/139650497?color=ff9933&title=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              <!-- <iframe width="560" height="315" src="https://vimeo.com/139650497" frameborder="0" allowfullscreen></iframe> -->
            </div>
          </div>
          <div class="col-md-5 col-sm-12">
            <!-- <h3>Lorem ipsum</h3> -->
            <!-- <hr/> -->
            <!-- <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, quos, ratione, optio, blanditiis deserunt saepe iure sunt odit atque eius voluptatum labore excepturi explicabo aliquid sapiente porro voluptas commodi sint?</h4> -->
            <!-- <hr/> -->
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, quas, quibusdam, impedit ducimus nisi fugiat veritatis cupiditate commodi</p> -->
          </div>
        </section>
        <!--==========-->

        <!--===============================-->
        <!--== FAQ ========================-->
        <!--===============================-->
        <section id="faq" class="row">
          <div class="col-sm-12">
            <div class="section-header text-right">
              <h2>Sobre DAL</h2>
              <h4>Algunas preguntas y respuestas del Apps Challenge</h4>
            </div>
          </div>
          <div class="col-sm-6">
            <ul class="accordion-group">
                <li class="accordion">
                    <a class="accordion-heading">
                      <h4 class="accordion-title">¿Qué es un Apps Challenge?</h4>
                      <span class="fa fa-plus-circle pull-right"></span>
                    </a>
                    <div class="accordion-body">
                      Un Apps Challenge es una competencia entre aplicaciones. En el caso de DAL-VAlparaíso,  es una competencia colaborativa que se realiza a lo largo de cuatro intensas semanas de desarrollo. Esta etapa está diseñada para dotar a los equipos de las herramientas que permitan desarrollar una aplicación innovadora y disruptiva. Realizamos varias actividades con el objetivo de generar aplicaciones de alto impacto social.
                    </div>
                </li>
                <li class="accordion">
                    <a class="accordion-heading">
                      <h4 class="accordion-title">¿Qué tipos de problemas se deben abordar?</h4>
                      <span class="fa fa-plus-circle pull-right"></span>
                    </a>
                    <div class="accordion-body">
                      En esta ocasión se desarrollarán temáticas de Medio Ambiente, Planificación Urbana y Desarrollo Social. A través de la stakeholders (Grupos de interés) los cuales representan al gobierno local, ONGs  o la sociedad civil identificarán problemáticas a resolver, poniendo a disposición los datos abiertos que tienen referentes a estos temas y problemas.
                    </div>
                </li>
                <li class="accordion">
                    <a class="accordion-heading">
                      <h4 class="accordion-title">¿Quiénes pueden participar?</h4>
                      <span class="fa fa-plus-circle pull-right"></span>
                    </a>
                    <div class="accordion-body">
                      Todos aquellos con interés en problemáticas sociales. Junto emprendedores, tecnólogos, desarrolladores y diseñadores, con y sin habilidades de programación. Lo relevante es aportar con buenas ideas, estar interesado en un tema o problemática en particular y trabajar en grupo.
                    </div>
                </li>
                <li class="accordion">
                    <a class="accordion-heading">
                      <h4 class="accordion-title">¿Cómo se generan los equipos de trabajo??</h4>
                      <span class="fa fa-plus-circle pull-right"></span>
                    </a>
                    <div class="accordion-body">
                      Puedes participar con tu equipo previamente conformado o buscar las habilidades complementarias a tus conocimientos  en participantes individuales que se han inscrito en DAL-Valparaíso. Los equipos conformados deben poseer participantes de al menos 2 áreas del conocimiento.
                    </div>
                </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="accordion-group">
                <li class="accordion">
                    <a class="accordion-heading">
                      <h4 class="accordion-title">¿Hasta qué etapa se debe desarrollar la solución?</h4>
                      <span class="fa fa-plus-circle pull-right"></span>
                    </a>
                    <div class="accordion-body">
                      La solución desarrollada debe permitir entender y mostrar de qué manera  a través de una aplicación se puede solucionar la problemática abordada. Esta solución es la que se debe presentar en el “Demo Day”.
                    </div>
                </li>
                <li class="accordion">
                    <a class="accordion-heading">
                      <h4 class="accordion-title">¿Existen premios para los ganadores?</h4>
                      <span class="fa fa-plus-circle pull-right"></span>
                    </a>
                    <div class="accordion-body">
                      Si, tu proyecto podrá ser incubado, patrocinado o acelerado dependiendo del desarrollo logrado por Chrysalis o 3IE.
                    </div>
                </li>
                <li class="accordion">
                    <a class="accordion-heading">
                      <h4 class="accordion-title">¿Si no sé nada de tecnología, puedo participar?</h4>
                      <span class="fa fa-plus-circle pull-right"></span>
                    </a>
                    <div class="accordion-body">
                      Claro! Todas las áreas del conocimiento son complementarias para poder encontrar las mejores soluciones a los problemas sociales. Fomentamos la diversidad en los equipos de trabajo y las diferentes miradas para abordar los desafíos.
                    </div>
                </li>
            </ul>
          </div>
        </section>
        <!--==========-->



        <!--===============================-->
        <!--== Speakers ===================-->
        <!--===============================-->
<!--         <section id="speakers" class="row separated">
          <div class="col-sm-12">
            <div class="section-header text-center">
              <h2>Mentores</h2>
              <h4>Estos serán los mentores que estarán presentando los desafíos de desarrollo</h4>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="speaker">
              <div class="speaker-info">
                <div class="speaker-photo">
                  <img src="/assets/images/demo/speakers/speaker-01.jpg" alt="Speaker 1">
                </div>
                <div class="speaker-contacts">
                  <a href="https://www.facebook.com/Junto.Al.BarrioJAB?fref=ts" class="contact pull-left fa fa-facebook"></a>
                  <a href="https://twitter.com/NataliaBrauchy" class="contact pull-right fa fa-twitter"></a>
                </div>
              </div>
              <h3>Natalia Brauchy Quiroz</h3>
              <p><b>Directora regional de Valparaíso Junto al Barrio.</b> Trabajadora Social.Con más de 8 años de experiencia como coordinadora de equipos sociales que trabajan en temas de vulnerabilidad, primero en Techo y luego en Junto al Barrio desde sus inicios.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="speaker">
              <div class="speaker-info">
                <div class="speaker-photo">
                  <img src="/assets/images/demo/speakers/speaker-02.jpg" alt="Speaker 2">
                </div>
                <div class="speaker-contacts">
                  <a href="https://www.facebook.com/avanzainclusion" class="contact pull-left fa fa-facebook"></a>
                  <a href="https://twitter.com/avanzainclusion" class="contact pull-right fa fa-twitter"></a>
                </div>
              </div>
              <h3>Bernardita López Radrigán</h3>
              <p><b>Fundadora y directora Avanza.</b> Fonoaudióloga, Preparadora Laboral certificada por la Asociación Española de Empleo con Apoyo (AESE). Diplomada en Educación Inclusiva y Discapacidad de la Pontificia Universidad Católica de Chile. Trabaja en temas relacionados con discapacidad y empleo desde 2007.</p>
            </div>
          </div>
        </section> -->
        <!--==========-->




        <!--===============================-->
        <!--== Carousel ===================-->
        <!--===============================-->
        <section id="partners">
          <div class="row">
            <div class="col-sm-12">
              <div class="section-header text-center">
                <h2>Organiza</h2>
              </div>
            </div>
            <div class="col-sm-12">
              <ul class="list-unstyled list-inline">
                <li><img src="/assets/images/demo/logos/pucv.png" alt="Universidad Catolica de Valparaíso"></li>
                <li><img src="/assets/images/demo/logos/utfsm.png" alt="Universidad Técnica Federico Santa María"></li>
                <li><img src="/assets/images/demo/logos/playaancha.png" alt="Universidad de Playa Ancha"></li>
                <li><img src="/assets/images/demo/logos/uv.png" alt="Universidad de Valparaíso"></li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="section-header text-center">
                <h2>Patrocina</h2>
              </div>
            </div>
            <div class="col-sm-12">
              <ul class="list-unstyled list-inline text-center">
                <li><img src="/assets/images/demo/logos/fci.png" alt="Fundación Ciudadano Inteligente"></li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="section-header text-center">
                <h2>Colabora</h2>
              </div>
            </div>
            <div class="col-sm-12">
              <ul class="list-unstyled list-inline text-center">
                <li><img src="/assets/images/demo/logos/chyrsalis.png" alt="Chyrsalis"></li>
                <li><img src="/assets/images/demo/logos/3iE.png" alt="3iE"></li>
              </ul>
            </div>
          </div>
        </section>
        <!--==========-->





        <div id="gotop" class="gotop fa fa-arrow-up"></div>
      </div>
    </div>

    {% include footer.html %}

    <!--== Javascript Files ==-->
    <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="/assets/js/jquery-2.1.0.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.scrollTo.js"></script>
    <script src="/assets/js/jquery.nav.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/jquery.flexslider.js"></script>
    <script src="/assets/js/jquery.accordion.js"></script>
    <script src="/assets/js/jquery.placeholder.js"></script>
    <script src="/assets/js/jquery.fitvids.js"></script>
    <script src="/assets/js/gmap3.js"></script>
    <script src="/assets/js/fancySelect.js"></script>
    <script src="/assets/js/main.js"></script>

  </body>

</html>
